html{
	margin: 0 !important;
}

body{
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'roboto',sans-serif;
}
.wraper{
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	overflow: hidden;
	min-height: 600px;
}

.wraper button{
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: rgba(255, 255, 255, 1);
	transition: .1s ease-in-out;
}
.wraper button:hover{
	color: rgba(255, 255, 255, .9);
}
.wraper button:focus{
	outline: none;
}
.wraper button:first-child{
	border:none;
}
.wraper button{
	border-left: 1px solid rgba(255, 255, 255, .1);;
}


.wraper .navbar{
	position: fixed;
	bottom: 60px;
	text-align: right;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
	border-radius: 10px;
	width: auto;
	height: 60px;
	background-color: rgba(0, 0, 0, .3);
}

.wraper .navbar .btn{
	cursor: pointer;
	text-align: center;
	font-size: .65rem;
	height: 40px;
	width: auto;
	margin: 10px 0;
	padding: 15px;
	color: rgba(255, 255, 255, .8);
}

.column{
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
	background-color: lightgrey;
	width: 33.333%;
	height: 100%;
	transition: .2s linear;
	overflow: hidden;
}
.column .menu{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 1rem .5rem;
	transition: .2s ease;
	overflow: hidden;
}


.column .color-input{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(41, 41, 41,1) !important;
	padding: 1.75rem 0rem 1.5rem 0rem!important;
}

.color-input__btn{
	color: rgb(223, 223, 223)!important;
	font-size: 1rem;
	background-color: rgb(95, 95, 95) !important;
	padding: .7rem;
	margin: 0 !important;
	border-radius: 0 5px 5px 0 !important;
	transition: .2s ease-in-out;
}

.input__btn-active{
	background-color: rgb(21, 112, 26) !important;
}
.tag-edit{
	position: absolute;
	top: 0.6rem;
	left: 1rem;
	font-size: .7rem;
	font-weight: 300;
	color: rgb(218, 218, 218);
	cursor: default;
}
.color-name i{
	position: absolute;
	top: 1rem;
	left: 1rem;
}
.btn-container{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.column .next-btn{
	display: block;
	margin:4rem !important;
}


.next-btn > i::before, i::after{
	font-size: 1.5rem;
}

.column .lock-btn{
	display: block;
	margin: 4rem !important;
}

.lock-btn > i::before, i::after{
	font-size: 1.5rem;
}

.column .hex{
	display: block;
	font-weight: 600;
	margin: 4rem !important;
}


.locked{
	color: rgba(0, 0, 0, .5)!important;
	transition: .2s ease-in-out;
}

.show{
	display: block !important;
}

.column .menu input{
	width: calc(90% - 3rem);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: .85rem;
	font-weight: 400;
	margin: 0px;
	padding: .75rem 0px;
	letter-spacing: .07rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .8);
	background-color: rgb(29, 29, 29);
	border-radius: 5px 0 0 5px;
	border:none;
	
}
.column .menu input:first-child{
	margin: 0;
	padding: 0;
	font-weight: 900;
}

.column .menu button{
	border:none;
	margin: 0px;
	color: rgba(31, 31, 31, 0.3);
	text-shadow: none;
	transition: .2s ease;
}
.column .menu button:hover{
	color: rgba(0, 0, 0, .5);
}
.column:hover .menu{
	opacity: 1;
}
.light-font{
	color: rgba(255, 255, 255, .5);
}
.column:hover input{
	transition: .5s ease;
}
.column input:focus{
	outline: none;
}

.hide{
	width: 0px;
}
.wraper .column .close-btn{
	position: relative;
	height: 30px;
	width: 30px;
	top: 10px;
	left: 10px;
	color: #fff;
	cursor: pointer;

}

.column:nth-child(odd){
	background-color: grey;
}

.hide{
	width: 0px !important;
}

.col-4{
	width: 25% !important;
}
.settings-menu{
	display: none;
	position:fixed;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background-color: black;
}
.wraper .overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(ellipse closest-corner,rgba(59, 59, 59, 0.3),rgba(48, 48, 48, 0.85));
	z-index: 3;
}

.wraper .overlay .window{
	position: relative;
	text-align: center;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 400px;
	z-index: 3;
	background-color: white;
	border-radius: .2rem;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.window .close{
	position: absolute;
	text-shadow: none;
	border: none;
	color: rgba(255, 255, 255, .6);
	top: 1rem;
	font-size: 1.3rem;
	font-weight: 400;
	right: 1rem;
	transition: .2s ease-in-out;
}

.window .close:hover{
	color: rgba(255, 255, 255, .9);
}

.window .w-title{
	margin:0;
	padding: 2rem 0;
	font-size: 2rem;
	font-weight: 400;
	background-color: rgb(24, 152, 202);
}

.window .w-title div, p{
	margin:0;
	padding: 0;
}

.w-title  div{
	color: rgba(255, 255, 255, 1);
	font-weight: 500;
}

.w-title  p{
	font-size: 1rem;
	font-weight: 300;
	margin: .25rem 0;
	color: rgba(255, 255, 255, .7);
}

.window ol{
	position: absolute;
	width: 70%;
	top: calc(50% + 64px);
	left: 50%;
	transform: translate(-50%,-50%);
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
}

.window ol > li{
	margin: 0;
	display: inline;
	text-align: center;
}

.window ol > li button{
	height: 100%;
	width: 90%;
	background-color: rgb(243, 243, 243);
	padding: .9rem;
	text-align: center;
	margin: 5px;
	text-shadow: none;
	color: rgb(22, 133, 177);
	border: .2rem solid red;
	transition: .2s ease-in-out;
}

.window ol > li button:hover{
	color: #fff;
	background-color: rgb(22, 133, 177);
}

@media only screen and (max-width: 1000px) {

	.wraper .navbar{
		text-align: center;
	}
	.column .menu{
		opacity: 1;
	}
	
  }

@media only screen and (max-width: 760px) {
	.wraper{
		flex-direction: column;
	}
	.column input{
		opacity: 1;
	}
	.wraper .navbar{
		position: absolute;
		top: 50%;
		right: 0 !important;
		left: auto;
		bottom: auto;
		transform: translateY(-50%);
		height: auto !important;
		width: 50px;
		padding: 0 .3rem;
		margin: 0 .5rem;
		background-color: rgba(24, 24, 24,.3);
		text-align: center;
		border-radius: 2rem;
		overflow: hidden;
	}
	.wraper .navbar .btn{
		background-color: rgba(0, 0, 0, .9);
		border: .1rem solid rgb(24, 24, 24) !important;
		border-radius: 50%;	
		height: 3rem;
		width: 3rem;
	}

	.navbar span{
		display: none;
	}
	.column{
		width: 100% !important;
	}
	.hide{
		width: 100%;
		height: 0 !important;
	}
	.column .menu{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		width: 200px;
		background-color: rgba(0, 0, 0, 0);
		border-radius: 0;
		box-shadow: none;
	}

	.column .menu hr{
		width: 160px;
		margin: 0rem auto .5rem auto;
	}

	.column .menu input{
		font-size: 1.2rem;
		padding: .7rem 0;
		margin: 0;
	}
	.column .menu .line{
		display: none;
	}

	.menu button i::before, i::after {
		display: block;
		font-size: 1.3rem;
	}
  }

 
  @media only screen and (max-width: 500px) {
	/*max 500*/
	
  }